<h1>About</h1>
<p></p>
<p>40823223 倉儲：<a href="https://github.com/40823223/cd2021">https://github.com/40823223/cd2021</a></p>
<h1>stage1</h1>
<h4>兩人一組產品開發 (stage1)</h4>
<p>W2-W3</p>
<p>兩人共同快速 (兩週) 開發一組產品設計與實作模擬 (分組自評與互評, 說明遭遇問題與解決方法)</p>
<p>W4 上課之前必須將各組報告 html, pdf 與 Youtube 影片連結繳交至<span> </span><a href="https://github.com/mdecourse/cd2021/discussions/11">2021 協同產品設計實習 W4 分組專題報告與影片繳交處</a></p>
<p>W4: 報告與檢討 (一週)</p>
<h4>四人一組產品開發 (stage2)</h4>
<p>W5-W8</p>
<p>四人共同快速 (四週) 開發一組產品設計與實作模擬 (分組自評與互評, 說明遭遇問題與解決方法)</p>
<p>W9 上課之前必須將各組報告 html, pdf 與 Youtube 影片連結繳交至<span> </span><a href="https://github.com/mdecourse/cd2021/discussions/13">2021 協同產品設計實習 期中 (W9) 分組專題報告與影片繳交處</a></p>
<h4>W9: 期中檢討報告與評分</h4>
<h4>八人一組產品開發 (stage3)</h4>
<p>W10-W17</p>
<p>八人共同快速 (八週) 開發一組產品設計與實作模擬 (分組自評與互評, 說明遭遇問題與解決方法)</p>
<p>W18 上課之前必須將各組報告 html, pdf 與 Youtube 影片連結繳交至<span> </span><a href="https://github.com/mdecourse/cd2021/discussions/14">2021 協同產品設計實習 期末 (W18) 分組專題報告與影片繳交處</a></p>
<h4>W18: 期末檢討報告與評分</h4>
<h2>W1</h2>
<p>建立倉儲</p>
<p><img alt="" height="236" src="/images/建立倉儲.PNG" width="500"/></p>
<p></p>
<p>使用SSH</p>
<p><img alt="" height="281" src="/images/ssh.png" width="500"/></p>
<p>建立blog</p>
<p><img alt="" height="281" src="/images/blog.jpg" width="500"/></p>
<h2>W2</h2>
<p>選定題目</p>
<p><span>stage1-bg13</span><br/><span>主題：人力軌道車</span><br/><span>高鐵太貴了，搭這個不用錢</span><br/><span>w2：繪製零件</span><br/><span>w3：模擬路徑並除錯</span><br/><span>w4：報告內容</span></p>
<p><span></span></p>
<p><span>討論</span></p>
<p><span><img alt="" height="234" src="/images/討論1.PNG" width="500"/></span></p>
<h2>W3</h2>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"></span></span>繪製零件圖</p>
<p>第一版</p>
<p><img alt="" height="396" src="/images/第一版.PNG" width="500"/></p>
<p>第二版</p>
<p><img alt="" height="566" src="/images/第二版.png" width="500"/></p>
<p>成功版</p>
<p><img alt="" height="443" src="/images/成功版.PNG" width="500"/></p>
<h2>W4</h2>
<p>初版</p>
<p><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/LZOSuJbeLGc" width="500"></iframe></p>
<p><span>題目:人力軌道車 作動方式 :四連桿機構 但因設計連桿不良失敗 因設計的四連桿機構中的曲柄搖桿機構須要找到兩個固定點 但固定點只有辦法設定一個 另一個需在轉動的齒輪上 若轉動的齒輪變成固定端將無法作動 故此次設計失敗。</span></p>
<p>成功版</p>
<p><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/28EcMEL3JRE" width="500"></iframe></p>
<p><span>設計內容：重新設計了作動方式 一樣是使用連桿 但這次是把下壓的連桿另一端改成一個旋轉軸 再將軸連接一個齒輪 並將輪子上的軸也加裝了齒輪 兩個齒輪碰到後 驅動了輪子旋轉。</span></p>
<h1>W5</h1>
<p><strong><span>討論過程</span></strong></p>
<p><strong><img alt="" height="266" src="/images/chrome_kft3peErOY.png" width="471"/></strong></p>
<p></p>
<table height="1793" width="685">
<tbody>
<tr>
<td style="width: 96px;"></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>組別</span></span></td>
<td style="width: 81.6px;"><span>影片時長</span></td>
<td style="width: 487.2px;"><span>影片連結</span></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag1</span></span></td>
<td style="width: 81.6px;"><span>3分40秒</span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1HDW6iZtwjR62Hkm2yLWMowXyrekBY-IG/view?usp=sharing"><span>https://drive.google.com/file/d/1HDW6iZtwjR62Hkm2yLWMowXyrekBY-IG/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>stage1-ag2</span></span></td>
<td style="width: 81.6px;"><span><span>3分04秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/16KI0RuWjfE47YFYvMVejYgu6EPWAxvq_/view?usp=sharing"><span>https://drive.google.com/file/d/16KI0RuWjfE47YFYvMVejYgu6EPWAxvq_/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag3</span></span></td>
<td style="width: 81.6px;"><span><span>2分24秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1fNWoIS09-JH5GD_KcolJsIkSALkNo5HO/view?usp=sharing"><span>https://drive.google.com/file/d/1fNWoIS09-JH5GD_KcolJsIkSALkNo5HO/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag4</span></span></td>
<td style="width: 81.6px;"><span><span>3分19秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1udO73zfr5zeNsqATorETcIKR6xuCPBat/view?usp=sharing"><span>https://drive.google.com/file/d/1udO73zfr5zeNsqATorETcIKR6xuCPBat/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag5</span></span></td>
<td style="width: 81.6px;"><span><span>3分38秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/123F5mbPQAFfkkgQINcphP8joK8-nEk15/view?usp=sharing"><span>https://drive.google.com/file/d/123F5mbPQAFfkkgQINcphP8joK8-nEk15/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag6</span></span></td>
<td style="width: 81.6px;"><span><span>5分50秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1dRth_dnRI4jJPNOkcCtP176Tg2dr0v6J/view?usp=sharing"><span>https://drive.google.com/file/d/1dRth_dnRI4jJPNOkcCtP176Tg2dr0v6J/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag7</span></span></td>
<td style="width: 81.6px;"><span><span>2分26秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/15m_o0MDDlf3U0t1fK8_6I1t-JYrv1Kx6/view?usp=sharing"><span>https://drive.google.com/file/d/15m_o0MDDlf3U0t1fK8_6I1t-JYrv1Kx6/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag8</span></span></td>
<td style="width: 81.6px;"><span><span>1分33秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1rvNu6MNuGpKbf8tCxN8bbDIB5yeho3HX/view?usp=sharing"><span>https://drive.google.com/file/d/1rvNu6MNuGpKbf8tCxN8bbDIB5yeho3HX/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag9</span></span></td>
<td style="width: 81.6px;"><span><span>1分18秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1G8BEbICF30DPip7PSlkbIDy35DT83n-2/view?usp=sharing"><span>https://drive.google.com/file/d/1G8BEbICF30DPip7PSlkbIDy35DT83n-2/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag10</span></span></td>
<td style="width: 81.6px;"><span><span>3分08秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1-lDEeP_GVfWBIYPYjFO6_YtE7NErMrfQ/view?usp=sharing"><span>https://drive.google.com/file/d/1-lDEeP_GVfWBIYPYjFO6_YtE7NErMrfQ/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag11</span></span></td>
<td style="width: 81.6px;"><span><span>1分04秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing"><span>https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag12</span></span></td>
<td style="width: 81.6px;"><span><span>1分59秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing"><span>https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag13</span></span></td>
<td style="width: 81.6px;"><span><span>2分17秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing"><span>https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag14</span></span></td>
<td style="width: 81.6px;"><span><span>2分32秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/15MxR1Ry8vnFY5JfIU028wfSxFX0r-BFe/view?usp=sharing"><span>https://drive.google.com/file/d/15MxR1Ry8vnFY5JfIU028wfSxFX0r-BFe/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag15</span></span></td>
<td style="width: 81.6px;"><span><span>50秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1_0UITpbBj3iopMzmsKs0HFjHIEpRNDEq/view?usp=sharing"><span>https://drive.google.com/file/d/1_0UITpbBj3iopMzmsKs0HFjHIEpRNDEq/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag16</span></span></td>
<td style="width: 81.6px;"><span><span>1分09秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1z3cb85pV9Yg89HVQvoaf_0o9Wj7njK-5/view?usp=sharing"><span>https://drive.google.com/file/d/1z3cb85pV9Yg89HVQvoaf_0o9Wj7njK-5/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag17</span></span></td>
<td style="width: 81.6px;"><span><span>2分31秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1QI1ZYanXPxJV5m-dP3vR70zgoKVjrZ8U/view?usp=sharing"><span>https://drive.google.com/file/d/1QI1ZYanXPxJV5m-dP3vR70zgoKVjrZ8U/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag18</span></span></td>
<td style="width: 81.6px;"><span><span>1分57秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing"><span>https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag19</span></span></td>
<td style="width: 81.6px;"><span><span>2分18秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1-ZfF3uJH1rHY2YmfEJM_5OlEJQH1hOr8/view?usp=sharing"><span>https://drive.google.com/file/d/1-ZfF3uJH1rHY2YmfEJM_5OlEJQH1hOr8/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag20</span></span></td>
<td style="width: 81.6px;"><span><span>4分06秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1yVQNbigK4f_AbL6Nsc3y_pcJ6iLmCOXm/view?usp=sharing"><span>https://drive.google.com/file/d/1yVQNbigK4f_AbL6Nsc3y_pcJ6iLmCOXm/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag21</span></span></td>
<td style="width: 81.6px;"><span><span>2分20秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1K0zOKvz6bSz7oIkbTcTtuCF_lkfOQsIr/view?usp=sharing"><span>https://drive.google.com/file/d/1K0zOKvz6bSz7oIkbTcTtuCF_lkfOQsIr/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag22</span></span></td>
<td style="width: 81.6px;"><span><span>5分13秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1Vbtz1eUZ3t3Y123zbRYp51WS9wTgaV0E/view?usp=sharing"><span>https://drive.google.com/file/d/1Vbtz1eUZ3t3Y123zbRYp51WS9wTgaV0E/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"><span><span>階段1-ag23</span></span></td>
<td style="width: 81.6px;"><span><span>8分19秒</span></span></td>
<td style="width: 487.2px;"><a href="https://drive.google.com/file/d/1wCfZLRd_Kol2dW0bCwDsVlTX961efMHm/view?usp=sharing"><span>https://drive.google.com/file/d/1wCfZLRd_Kol2dW0bCwDsVlTX961efMHm/view?usp=sharing</span></a></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
<tr>
<td style="width: 96px;"></td>
<td style="width: 81.6px;"></td>
<td style="width: 487.2px;"></td>
</tr>
</tbody>
</table>
<h1>stage2</h1>
<p><strong>圖檔</strong></p>
<p><strong><a href="https://drive.google.com/drive/u/1/folders/10psKhTUQiT_y45Z16jpTXBuA7Jk3miN3">https://drive.google.com/drive/u/1/folders/10psKhTUQiT_y45Z16jpTXBuA7Jk3miN3</a></strong></p>
<p><strong><a href="https://drive.google.com/drive/folders/1ZEyZDq59dqsRV6-3e7LFQngoBdwklPRt">https://drive.google.com/drive/folders/1ZEyZDq59dqsRV6-3e7LFQngoBdwklPRt</a></strong></p>
<table style="width: 514px;">
<tbody>
<tr style="height: 102px;">
<td style="width: 93px; height: 102px;"><img alt="" height="99" src="/images/Inventor_2A1glgrxOx.png" width="117"/></td>
<td style="width: 93px; height: 102px;"><img alt="" height="95" src="/images/Inventor_4iIQM8tr7B.png" width="123"/></td>
<td style="width: 94px; height: 102px;"><img alt="" height="93" src="/images/Inventor_5Dw7XOMxpN.png" width="127"/></td>
<td style="width: 94px; height: 102px;"><img alt="" height="98" src="/images/Inventor_FZBdjzgMUA.png" width="120"/></td>
<td style="width: 94px; height: 102px;"></td>
</tr>
<tr style="height: 11.9126px;">
<td style="width: 93px; height: 11.9126px; text-align: center;"><a href="https://drive.google.com/file/d/1T4dBUVDizwX_E15PfSdDCXZHXiowGlkI/view?usp=sharing">夾爪(收起)</a></td>
<td style="width: 93px; height: 11.9126px; text-align: center;"><a href="https://drive.google.com/file/d/1T4dBUVDizwX_E15PfSdDCXZHXiowGlkI/view?usp=sharing">夾爪(合起)</a></td>
<td style="width: 94px; height: 11.9126px; text-align: center;"><a href="https://drive.google.com/file/d/1BHbVNsmM4xrNzWnNZ_7JGC8bajKTD2Cy/view?usp=sharing">墊圈</a></td>
<td style="width: 94px; height: 11.9126px; text-align: center;"><a href="https://drive.google.com/file/d/16VIysUUSA6C0LregU8RRKHsZpVIqrpcz/view?usp=sharing">馬達</a></td>
<td style="width: 94px; height: 11.9126px;"></td>
</tr>
<tr style="height: 147px;">
<td style="width: 93px; height: 147px;"><img alt="" height="86" src="/images/Inventor_67wUwE6dcP.png" width="120"/></td>
<td style="width: 93px; height: 147px;"><img alt="" height="107" src="/images/Inventor_ikVuwf1cdz.png" width="120"/></td>
<td style="width: 94px; height: 147px;"><img alt="" height="82" src="/images/Inventor_OqPSG2p3MT.png" width="126"/></td>
<td style="width: 94px; height: 147px;"><img alt="" height="142" src="/images/Inventor_NeRnaOKWdg.png" width="120"/></td>
<td style="width: 94px; height: 147px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1Ko7O6Y4FkM1N-x34ezQ-zDDxotVpEvKa/view?usp=sharing">鉤爪</a></td>
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/10gKzt8OjwfYtHTBsjz1wweBG--aL7Cc2/view?usp=sharing">夾子機架</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1tCPCnO1WsS5yiNNuwdM-YGI2v5NwzEsI/view?usp=sharing">下底盤</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/13yFVp2Ey0B-cx4k7H09BecePBpxjJNUj/view?usp=sharing">連桿</a></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
<tr style="height: 124px;">
<td style="width: 93px; height: 124px;"><img alt="" height="67" src="/images/Inventor_V0Kiz4bboB.png" width="120"/></td>
<td style="width: 93px; height: 124px;"><img alt="" height="120" src="/images/12.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="120" src="/images/10.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="120" src="/images/未命名.png" width="120"/></td>
<td style="width: 94px; height: 124px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1YQ6mQ5a1y4senzyVXCqkXZDqkfK7A5AT/view?usp=sharing">上底盤</a></td>
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1ZBs02h5jF4zVh9BNzoe0BcQp3HAk54y4/view?usp=sharing">連桿3</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1JZAq7YylakajD7sBnEpwSbNhKpn-K25d/view?usp=sharing">連桿2</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1ch8a6zY6r1dUYpqyQ5EuvvuLVJBHPJK4/view?usp=sharing">連桿1</a></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
<tr style="height: 124px;">
<td style="width: 93px; height: 124px;"><img alt="" height="120" src="/images/底座.png" width="120"/></td>
<td style="width: 93px; height: 124px;"><img alt="" height="120" src="/images/墊片1.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="90" src="/images/軌道2.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="120" src="/images/滑塊.png" width="120"/></td>
<td style="width: 94px; height: 124px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/19lVET-Gi9q1Hh5RIUjxEuey4foMcDEKi/view?usp=sharing">機台</a></td>
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1FfKo8UtZpD4GeJpZw2DD1Q_NMoyPwj-8/view?usp=sharing">墊圈</a></td>
<td style="width: 94px; height: 14px; text-align: center;">組合作動照片</td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1itOwznBHVgrOb2xXsh4SWGVwvVxkGPkU/view?usp=sharing">滑塊</a></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
<tr style="height: 124px;">
<td style="width: 93px; height: 124px;"><img alt="" height="90" src="/images/軌道1.png" width="120"/></td>
<td style="width: 93px; height: 124px;"><img alt="" height="120" src="/images/墊片.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="120" src="/images/墊片2.png" width="120"/></td>
<td style="width: 94px; height: 124px;"><img alt="" height="120" src="/images/轉把.png" width="120"/></td>
<td style="width: 94px; height: 124px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px; text-align: center;"><span>組合作動照片</span></td>
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1gmT6gCRGwzRfd38eTZDG1QhQ19WYaSq9/view?usp=sharing">墊圈</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1JB5RJ7pOBChXm88FrQ11D6DasGWH7Qj7/view?usp=sharing">墊圈</a></td>
<td style="width: 94px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1uYm2f8L5yo-EwGW6Sg9tJRWj23CymBZ4/view?usp=sharing">轉把</a></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px;"><img alt="" height="72" src="/images/齒條2.2.2.2..png" width="120"/></td>
<td style="width: 93px; height: 14px;"><img alt="" height="125" src="/images/齒輪2.2.2.2.2.2.png" width="125"/></td>
<td style="width: 94px; height: 14px;"></td>
<td style="width: 94px; height: 14px;"></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1nb16ul5ff2PHTtSNfIqpaXuY42lf4UNG/view?usp=sharing">齒條</a></td>
<td style="width: 93px; height: 14px; text-align: center;"><a href="https://drive.google.com/file/d/1VCcH13xrKjyBypvlXc0-y_p63IEBbdE7/view?usp=sharing">齒輪</a></td>
<td style="width: 94px; height: 14px;"></td>
<td style="width: 94px; height: 14px;"></td>
<td style="width: 94px; height: 14px;"></td>
</tr>
</tbody>
</table>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h2>w6</h2>
<p><strong>主題確認、小組討論</strong></p>
<p><strong>主題:夾娃娃機</strong></p>
<p><strong>研究動機；</strong></p>
<p><strong>夾娃娃機先前在台灣掀起一陣熱潮，不論是租賃或是購買機台都成了一種新穎的投資方式，使得許多檯主出現，然而利潤多與少則是需要考驗檯主調校機台的技術以及內容物的選擇。於是我們想以設計者的角度嘗試初步的理解娃娃機的構造與原理。</strong></p>
<p><strong></strong></p>
<h2>w7</h2>
<h6>分配工作、執行</h6>
<p>分配到的工作:畫圖 </p>
<p>使用軟體:inventor2019</p>
<p>分配工作內容:</p>
<p>繪圖:40823207、40823223</p>
<p>網頁管理:40823206、40823224</p>
<h2>w8</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/6YaHJGjeuUA" title="YouTube video player" width="560"></iframe></p>
<p>夾子</p>
<h2>w9</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/loWz5nwKAXI" title="YouTube video player" width="560"></iframe></p>
<p>放上機台上模擬</p>
<h2>參考資料</h2>
<p>夾子</p>
<p><img alt="" height="360" src="/images/參考1.JPG" width="400"/></p>
<p><img alt="" height="400" src="/images/參考2.JPG" width="400"/></p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Ih-PHG4zcyc" title="YouTube video player" width="560"></iframe></p>
<h1>stage3</h1>
<h2>w10</h2>
<p><img alt="" height="215" src="/images/chrome_5fcEtm0mpt.png" width="400"/></p>
<p><img alt="" height="215" src="/images/chrome_pgUK8TWdUe.png" width="400"/></p>
<p>小組網站架設</p>
<p>同步完成</p>
<h2>w11</h2>
<p><img caption="false" height="250" src="https://40823217.github.io/stage3-bg2/images/stage3.jpg" width="711"/></p>
<p>經小組成員討論後，決定主題延續Stage2-bg11的免彎腰販賣機。</p>
<p><strong>分配任務</strong></p>
<p>程序編寫:40823224</p>
<p>模擬:4082310/40823217</p>
<p>繪圖:40823206/40823223/40823207</p>
<p>網頁製作:40823209/40823201</p>
<p><a href="http://mde.tw/cd2021/downloads/2012_ece_The%20Design,%20Simulation,%20Verification%20and%20Implementation%20of%20Vending%20MachineBased%20on%20FPGA.pdf">ECE的Vending machine 設計與模擬</a></p>
<p><img alt="" height="150" src="https://40823217.github.io/stage3-bg2/images/%E8%80%81%E5%B8%AB%E6%96%87%E7%8D%BB.jpg" width="860"/></p>
<p></p>
<h3>幫忙編輯網頁內容</h3>
<h2>w12</h2>
<h2>w13</h2>